@media only screen and (max-width: 600px) {
    body {
        --nav-width: 50px;
        margin: 56px 0 0 0;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
    }
    
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--nav-width);
        background: #222222;
    }

    .nav__link {
        display: inline-block;
        padding: 12px 18px;
        text-decoration: none;
        color: #eeeeee;
        font-weight: 500;
    }
}

@media only screen and (min-width: 601px) {
    body {
        --nav-width: 200px;
        margin: 0 0 0 var(--nav-width);
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
    }
    
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: var(--nav-width);
        height: 100vh;
        background: #222222;
    }

    .nav__link {
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        color: #eeeeee;
        font-weight: 500;
    }
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

textarea {
    box-sizing: border-box;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

button.btn {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

button.btn-green {
    background-color: #4CAF50;
    color: #fff;
}
  
button.btn-green:hover {
    background-color: #3e8e41;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

button.btn-red {
    background-color: #be3030;
    color: #fff;
}
  
button.btn-red:hover {
    background-color: #f30303;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

button.btn-large {
    padding: 10px 20px;
}

button.btn-medium {
    padding: 5px 9px;
}

button.btn-medium {
    padding: 3px 5px;
}

.save-post-button {
    float: right;
}

.post-list {

}


.post-row {
    display: flex;
    flex-direction: row;
    height: 3rem;
    border-bottom: 1px solid rgb(216, 216, 216);
    vertical-align: center;
}

.post-title {
    padding-top: 0.5rem;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
}

.post-actions {
    padding-top: 0.65rem;
    width: 20%;
    text-align: right;
}

.content-textarea{
    width: 100%;
    min-height: 500px;
}